h1{
	color:red;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/
	
	border: 5px solid purple;
}
/*width
color
style*/
li{
	color: green;
}

h4{
	color: purple;
	background: rgb(255,100,55);
	
}
body{
	background: url(http://wallpapercave.com/wp/Tb3g7Fv.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	}